/*************** Target selectors**************/
@import url('https://fonts.googleapis.com/css?family=Quicksand|Vollkorn+SC');

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
    background-image:url("https://images.freeimages.com/images/large-previews/417/welcome-to-the-jungle-1157564.jpg");
    background-size: cover;
    }

    body {
        background-color:rgba(209, 216, 251, 0.9); /* opacity 30% */   }

   
/***************CLASS SELECTORS****************/
 .project {
    font-size: 140%; 
}
.contact {
    font-size: 140%; }
.links{
    font-size: 140%; 
}
    

